.page-customers {
  display: flex;
}

.page-customers .main-content {
  margin-left: 40px;
  margin-top: 30px;
  width: 68%;
}

.page-customers .main-content h1 {
  background: #4e88c7;
  color: #ffff;
}

.page-customers .main-content .block {
  display: flex;
  flex-direction: column;
}

#search-name {
  width: 87%;
}

.customer-form-name {
  margin-left: 30px;
}

.customer-form-address {
  margin-left: 1px;
}

.customer-form-phone {
  margin-left: 8px;
  margin-right: 50%;
}

.page-customers button {
  font-weight: bold;
  font-size: 14px;
  color: #ffff;
  width: 90px;
  margin-left: 15px;
  border: none;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.page-customers .save-button {
  background: rgb(30, 182, 106);
  margin-left: 8px;
}

.page-customers .save-button:hover {
	background: #007c00;
}

.page-customers .main-content h2 {
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  color: #4e88c7;
  border-top: 1px solid hsl(0, 0%, 80%);
  display: flex;
}

.page-customers .main-content h2 span {
  margin-top: 2px;
}

.block-line {
  display: flex;
  align-items: baseline;
}

.block-line label {
  flex-shrink: 0;
}

.page-customers .search-button {
  background: #4e88c7;
}

.page-customers .search-button:hover {
  background: #005ab9;
}

.display-customers {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 280px;
  height: 280px;
  background: #ffff;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0px 0px 3px teal;
  margin-left: 15px;
  margin-top: 10px;
}

.box-customer h3 {
  color: #002541;
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
}

.box-customer p {
  margin: 5px;
}

.box-customer strong {
  font-weight: bold;
}

.box-customer-buttons {
  display: flex;
  justify-content: center;
  background: teal;
  width: 100%;
  padding-bottom: 5px;
  align-items: center;
}

.box-customer-buttons button {
  background: #f0f5f5;
  color: #002541;;
  margin-right: 5px;
}

.box-customer-buttons button:hover {
  background: #d3dada;
}

.bottom-form {
  display: flex;
}

.bottom-form div {
  padding: 8px;
  width: fit-content;
  margin-left: 5px;
}

.bottom-form .submit-message {
  visibility: hidden;
}

#submit-message-visibility {
  visibility: visible;
  background: #90ee90;
  border: 1px solid #0e5d0e;
}

#error-message-visibility {
  visibility: visible;
  background: #fddfdd;
  border: 1px solid #e42121;
}