.page-create-order {
  display: flex;
}

.page-create-order .main-content {
  margin-left: 40px;
  margin-top: 30px;
  width: 68%;
}

.page-create-order .main-content h1 {
  background: #4e88c7;
  color: #ffff;
}

.page-create-order .main-content h2 {
  color: #438fca;
}

.page-create-order .main-content .block {
  display: flex;
  align-items: center;
}

.page-create-order .main-content .block .numeric-input {
  width: 100px;
  text-align: right;
}

.page-create-order .main-content .block label {
  margin-top: 12px;
}

.page-create-order .main-content .block button {
  margin-left: 10px;
  margin-block-end: 8px;
}

.page-create-order .main-content .table-container {
  width: 924px;
  height: 100%;
  max-height: 190px;
  background: #ffff;
  border: 1px solid hsl(0, 0%, 80%);
  overflow-y: scroll;
}

.page-create-order .main-content table {
  background: #ffff;
  text-align: center;
}

table, th, td {
  border: 1px solid hsl(0, 0%, 80%);
}

th, td {
  padding: 8px;
}

.page-create-order .main-content #foot-table {
  width: max-content;
  flex-shrink: 0;
  border: 1px solid rgb(188, 188, 188);
}

.page-create-order .main-content #foot-table input {
  width: 89px;
}

.page-create-order .main-content #foot-table #item-quantity {
  width: 40px;
}

.page-create-order .main-content #foot-table #total {
  margin-right: 2px;
}

.page-create-order .main-content #foot-table label {
  margin-left: 7px;
}

.page-create-order .main-content .submit-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.submit-message {
  visibility: hidden;
}

#submit-message-visibility {
  padding: 8px;
  width: fit-content;
  visibility: visible;
  background: #90ee90;
  border: 1px solid #0e5d0e;
}

.submit-buttons button {
	font-weight: bold;
  font-size: 14px;
  color: #ffff;
  width: 90px;
  margin-left: 15px;
  border: none;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.page-create-order .new-button {
  background: #4e88c7;
}

.page-create-order .new-button:hover {
  background: #005ab9;
}

.page-create-order .save-button {
  background: rgb(30, 182, 106);
}

.page-create-order .save-button:hover {
	background: #007c00;
}

.plus-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 22px;
  color: rgb(30, 182, 106);
  margin-top: 8px;
}

.delete-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: crimson;
  text-align: center;
}

#head-table {
  display: flex;
  width: max-content;
  text-align: center;
  padding-left: 1px;
  position: absolute;
  background: hsl(0, 0%, 90%);

}

#head-table p {
  border-right: 1px solid hsl(0, 0%, 80%);
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 8px;
}

tr button {
  padding: 3px;
  display: flex;
  margin-left: 8px;
}

.observation-td {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.observation-td:hover {
  overflow: visible;
}

.description-td {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description-td:hover {
  overflow: visible;
}